.desktop-only {
    display: none;
}

@media only screen and (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nowrap {
    white-space: nowrap;
}

.noscroll {
    height: 100%;
    overflow: hidden;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection { 
    background: #000;
    color: #fff;
}
